<h3> <%= @car.model %> </h3>

<h5>Color <%= @car.color %> </h5>

<h5>Mileage <%= @car.mileage %> km</h5>

<h5>Built in <%= @car.year %> </h5>

<p id="notice"><%= notice %></p>

<%= link_to(edit_car_path, class: "btn-lg btn-success text-decoration-none") do %>
  <spam>Update <%= @car.model %></spam>
<% end %>

<%= link_to car_path(@car), method: :delete, data: {
  confirm: "Do you really want to delete this car?" } do %>
  <spam class="btn-lg btn-success text-decoration-none">Delete <%= @car.model %></spam>
<% end %>

<h3><%= link_to 'Back to all cars', cars_path, class: 'btn-lg btn-success text-decoration-none'  %></h3>



